@media screen and (max-width: 768px) {
    .bigcard-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90vw;
        height: 100%;
        margin-top: 30px;
        padding: 16px;
    }

    .bigcard-image > img {
        border-radius: 10px;
        width: 100%;
    }

    .bigcard-title > h1 {
        font-size: 22px;
        font-weight: 400;
    }

    .bigcard-desc > p {
        color: grey;
    }

    span {
        color: grey;
        font-size: 14px;
        margin-top: 8px;
    }
    
    a {
        text-decoration: none;
    }
}
