.bigcard-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: 600px;
}

.bigcard-title > h1 {
    font-size: 26px;
    font-weight: 600;
    margin: 8px 0 8px 0;
}

.bigcard-title > h1:hover {
    color: grey;
}

.bigcard-desc > p {
    color: grey;
}

.bigcard-image > img {
    border-radius: 10px;
    width: 100%;
    min-width: 500px;
}

span {
    color: grey;
    font-size: 14px;
    margin-top: 8px;
}

a {
    text-decoration: none;
}