<div class="bigcard-container">
    <div class="bigcard-image">
        <img src="../../../assets/img/stock01.jpg" alt="Empty image">
    </div>
    <span>Fonte: Internet</span>
    <a href="#">
        <div class="bigcard-title">
            <h1>Um exemplo de titulo aqui</h1>
        </div>
        <div class="bigcard-desc">
            <p>Um exemplo de uma pequena descrição sem nenhum conteúdo específico aqui. Um exemplo de uma pequena descrição sem nenhum conteúdo específico aqui.</p>
        </div>
    </a>
</div>