<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="articles">
    <div class="articles-main">
        <app-big-card 
        imageCover="../../../assets/img/stock01.jpg"
        cardTitle="Route 66: A legendary road"
        cardDescription="The road is full of things that hark back to the past too from old cars dotted along 
        the road to old signs and historic buildings. 
        For anyone who loves history or just wants a bit of an old fashioned vacation Route 66 fits the bill."
        ></app-big-card>
    </div>
    <div class="articles-cards">
        <app-small-card
        smallCardImg="../../../assets/img/stock02.jpg"
        smallCardDesc="Picture from the Tulu Mountains with the Milky Way in the background wins Pulitzer."
        ></app-small-card>
        <app-small-card
        smallCardImg="../../../assets/img/stock03.webp"
        smallCardDesc="Is stress making you angry and grouchy? Stress relievers can help bring back calm and peace to your life."
        ></app-small-card>
        <app-small-card
        smallCardImg="../../../assets/img/stock04.webp"
        smallCardDesc="Drier weather has helped growers catch up with harvest, but quality is very variable, impacting on prices."
        ></app-small-card>
    </div>
</div>
<app-footer></app-footer>